<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e0d3e552b3a17d3c37be742d0c901f1e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>6</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>261</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>261</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>261</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>261</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>313f0b812ebd099feec07548122dde54</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>285</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>285</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>285</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>285</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/ifrit/phd_shared/src/dict.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>cppcheck</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.20.0</string>
		</dict>
	</dict>
</dict>
</plist>
