<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b103b76295069629b4742e9c693592e3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>109</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>109</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>109</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>109</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6ea0e2283058e7437c4e01e1b370c0fc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>182</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>182</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>182</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>182</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'signed long'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>432c6dd454d495a3cb594a14cdf690dc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>216</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>216</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'signed long'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>216</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>216</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 2) requires 'unsigned long' but the argument type is 'signed long'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d750cc2190ff54817822cc2d4a42051d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>216</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>216</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 2) requires 'unsigned long' but the argument type is 'signed long'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>216</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>216</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 2) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>363377a0d919997b4966f12fe4b0e089</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>368</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>368</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 2) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>368</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>368</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 3) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ab45e54dcd5bfa606a4f24442e1b509a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>368</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>368</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 3) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>368</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>368</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_uint</string>
			<key>description</key>
			<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>043e87aad8fc129acb695d68e5c11653</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>374</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>374</integer>
					</dict>
					<key>message</key>
					<string>%lu in format string (no. 1) requires 'unsigned long' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>374</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>374</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/ifrit/phd_shared/src/long_message_attack.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>cppcheck</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.20.0</string>
		</dict>
	</dict>
</dict>
</plist>
